<h1>Create Movie</h1>

<form [formGroup]="movieForm" (ngSubmit)="createMovie()">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input name="title" type="text" class="form-control" formControlName="title">
    <div class="text-danger" *ngIf="title.invalid && title.touched">
      <p *ngIf="title.errors.required">Lütfen başlık giriniz</p>
      <p *ngIf="title.errors.minlength">Min. 5 karakter giriniz</p>
    </div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="description" type="text" class="form-control" formControlName="description"></textarea>
  </div>

  <div class="mb-3">
    <label for="imageUrl" class="form-label">ImageUrl</label>
    <input name="imageUrl"  type="text" class="form-control" formControlName="imageUrl">
    <div class="text-danger" *ngIf="imageUrl.invalid && imageUrl.touched">
      <p *ngIf="imageUrl.errors.required">Lütfen başlık giriniz</p>
      <p *ngIf="imageUrl.errors.wrongExtension">Hatalı uzantı girdiniz.</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="categoryId" class="form-label">Category</label>
    <select name="categoryId" class="form-select" formControlName="categoryId">
      <option value="" disabled>Seçiniz</option>
      <option *ngFor="let item of categories" [value]="item.id">
        {{item.name}}
      </option>
    </select>
  </div>
  <button [disabled]="movieForm.invalid" class="btn btn-primary" type="submit">Create</button>
</form>
